<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="in.sp.beans.Address" id="addrId">
       <constructor-arg value="pune"/>
       <constructor-arg value="411007"/>
      
    </bean>
    
    <bean class="in.sp.beans.Student" id="stdId">
      <constructor-arg value="sham"/>
      <constructor-arg value="101"/>
      <constructor-arg value="sham@gmail.com"/>
      <constructor-arg ref="addrId"/>
      
    </bean>

</beans>