
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="helloService" class="com.abhi.practice.service.HelloService">
            <property name="name" value="abhi"/>
           <property name="address" ref="address"/>
    </bean>

    <bean id="address" class="com.abhi.practice.model.Address">
        <property name="city" ref="city"/>
    </bean>

    <bean id="city" class="com.abhi.practice.model.City">
        <property name="name" value="pune"/>
    </bean>

</beans>
